body {
  background-color: #F9F8F5;
  font-family: 'lao_sangam_mnregular', sans-serif;
}

main {
  padding: 50px;
  max-width: 1200px;
}

::selection {
  background-color: #F9F8F5;
}

a {
  display: inline-block;
  color: seagreen;
  text-decoration: none;
}

a:active {
  transform-origin: center center;
  transform: rotate(180deg);
}

ul,
li,
p,
h1,
h2,
h3,
h4  {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h1 {
  padding: 20px;
}

.subheading {
  display: inline;
  margin-top: 20px;
}

ul {
  padding-left: 20px;
  padding-bottom: 20px;
}

li {
  margin-left: 5px;
  list-style-type: none;
}

li::before {
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  background-image: url('../assets/flowerIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -25px;
  margin-top: 5px;
  transition-duration: .2s;
}

li:focus-within::before,
li:hover::before {
  transform-origin: center center;
  transform: rotate(-90deg);
}

footer {
  opacity: .8;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 70px;
}

footer p {
  font-size: 0.8em;
}

.one {
  animation: fadeUp 1s forwards;
}

.two {
  animation: fadeUp 2s forwards;
}

.three {
  animation: fadeUp 3s forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    color: seagreen;
    transform: rotate(1deg);
    margin-bottom: -20px;
  }
  100% {
    color: #000;
    transform: rotate(0deg);
    opacity: 1;
    margin-bottom: 0px;
  }
}

@media (max-width: 500px) {
  h1,
  h2,
  p {
    font-size: 2.0rem;
    line-height: 3.0rem;
  }
  li::before {
    width: 16px;
    height: 16px;
  }
  .subheading {
    display: block;
    margin-top: 20px;
  }
}

@media (max-height: 620px) {
  footer {
    position: relative;
    bottom: auto;
    left: auto;
  }
}